@font-face {
font-family: "AlienEncounters";
src: url("fonts/Alien-Encounters-Regular.ttf") format("truetype");
}

body {
    text-align: center;
    font-family: 'AlienEncounters';
}

.card-text {
  font-size: 1.5em;
}
